.App {
  text-align: center;
  flex: auto;
  width: 100vw;
  text-align: center;
  /* Centers text */
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers vertically */
  align-items: center;
}

.logo {
  height: 100px;
  /* Or your desired size */
  margin: 10px;
}


.page-header {
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  text-align: center;
  /* background: linear-gradient(180deg, #8E42D3 0%, #D46975 100%); */

  /* Centers text */
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers vertically */
  align-items: center;
  /* Centers horizontally */
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: #333; */
  /* color: black; */
  text-align: center;
  padding: 10px 0;
}

.main-content {
  flex-grow: 1;
  /* Takes up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes {
  /* background-color: rgba(255, 255, 255, 0.1); */
  padding: 8px;
}


.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  /* Green background */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;

  /* Shadows for 3D effect */
  box-shadow: 0 4px #999;
}

.download-button:hover {
  background-color: #45a049;
  /* Darker green background on hover */
  transform: translateY(-2px);
  /* Slight raise */
}

.download-button:active {
  background-color: #45a049;
  box-shadow: 0 2px #666;
  /* Shadow adjustment for pressed effect */
  transform: translateY(2px);
}

/* Alternative button style */
.alternative-button {
  background-color: #008CBA;
  /* Blue background */
}

.alternative-button:hover {
  background-color: #0077A9;
  /* Darker blue on hover */
}

.alternative-button:active {
  background-color: #0077A9;
}