.page-container {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(180deg, #8E42D3 0%, #D46975 100%);
    color: #fff;
    font-family: 'Domine', serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-section, .right-section {
    /* flex: 0.25; */
    padding: 20px;
}

.left-section {
    /* background: rgba(255, 255, 255, 0.1); */
}

.right-section {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 20px;
    padding: 40px;
}

.coming-soon h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#notify-form {
    display: flex;
    flex-direction: column;
}

#notify-form input,
#notify-form button {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#notify-form button {
    background-color: #4DB8AC;
    color: white;
    cursor: pointer;
}

#notify-form button:hover {
    background-color: #3A9492;
}

/* Responsive Design */
@media (max-width: 768px) {
    .page-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        /* width: 100%; */
        margin: 20px;
        /* font-size: 1.2em; */
    }

    .coming-soon h2 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .coming-soon h3 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }



    .right-section {
        padding: 20px;
    }

    .logo {
        max-height: 40px;
        margin: 20px
            /* Smaller logo on mobile */
    }


}